@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/static/complete/WantedSans.min.css");
@import "tailwindcss";
@import "pretendard/dist/web/static/pretendard.css";

/* 글로벌 폰트 적용 */
:root {
  font-family: "Wanted Sans Variable", "Wanted Sans", -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translate(0%, 20px);
  }

  15% {
    opacity: 1;
    transform: translate(0%, 0);
  }

  85% {
    opacity: 1;
    transform: translate(0%, 0);
  }

  100% {
    opacity: 0;
    transform: translate(0%, 20px);
  }
}

.animate-slideUpFade {
  animation: slideUpFade 3s ease-in-out forwards;
}

/* 비디오 기본 테두리/세로줄 숨기기 */
video {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
